* {
  font-family: "Montserrat Alternates", sans-serif;
}

.App {
  text-align: center;
  /* height: calc(var(--vh, 1vh) * 100); */
  background-color: #b8e4cd;
  position: fixed;
  top: 0;
  left: 0;
}

.App-main {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(var(--vw, 1vw) * 100);
  height: calc(var(--vh, 1vh) * 100);
  display: grid;
  grid-template-areas: "header" "main" "nav";
  grid-template-rows: 75px 1fr 45px;
  font-size: calc(10px + 2vmin);
  color: white;
  background-color: #b8e4cd;
}

header {
  grid-area: header;
  background-color: #36a9c0;
  width: 100%;
  height: 100%;
  margin: 0;
  display: grid;
  grid-template-areas: "title settings";
  grid-template-columns: 3fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 0px;
}

header h1 {
  margin: 0;
  grid-area: title;
  font-family: "Permanent Marker", cursive;
  font-size: 2em;
  color: #0e1c36;
}

header h1 .geo {
  font-family: "Lobster", cursive;
  font-size: 0.7em;
}

.App-router {
  margin: 0px 0px 0px 0px;
  grid-area: main;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.App-navbar {
  grid-area: nav;
}

nav {
  background-color: #f74909;
  margin: 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
}

nav a {
  padding: 7.5px 40px;
}
a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: black;
  text-decoration: none;
}

.nav-img {
  width: 30px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 14px 40px;
}

button {
  margin: 0px 10px;
  border: none;
  background-color: rgba(84, 84, 179, 0);
}

.canvas-draw-page,
.map {
  height: 100%;
  margin: 20px 0 20px 0;
}

.canvas-draw-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.paint-color {
  border-radius: 50%;
  padding: 1em;
  border-color: white;
  border-style: solid;
  border-width: 1px;
}

.selected-color {
  border-radius: 50%;
  padding: 1em;
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.slider {
  margin: 1em 0;
  color: red;
}

#red {
  background-color: #ff0000;
}
#green {
  background-color: #00ff00;
}
#yellow {
  background-color: #ffff00;
}
#blue {
  background-color: #0000ff;
}
#black {
  background-color: #000000;
}

.canvas-buttons {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
.canvas-change {
  width: 20px;
  height: 20px;
}

.canvas-list-page,
.canvas-displayer {
  margin-top: 25%;
}
.canvas-list-page {
  margin: 0;
  padding: 0;
  background-color: #b8e4cd;
  width: 100%;
  height: calc((var(--vh, 1vh) * 100) - 120px);
  margin: 0;
  color: #0e1c36;
}

.canvas-list-page h2 {
  font-size: 1em;
}

.canvas-list-page p {
  font-size: 0.8em;
}

.canvas-list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 5%;
  margin-bottom: 10%;
  height: 70%;
  overflow-y: scroll;
}

.canvas-card {
  color: white;
  background-color: #36a9c0;
  margin: 5px 0px;
  padding: 0;
  justify-self: center;
  border-radius: 10px;
}
.canvas-card a:link {
  color: white;
}
.canvas-card a:visited {
  color: white;
}
.view {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.posted-by {
  grid-column: 1/2;
}
.posted-on {
  grid-column: 2/3;
}

.likes {
  grid-column: 2/3;
  grid-row: 2/3;
}

.posted-by-pic {
  grid-column: 1/2;
  grid-row: 2/3;
}

.view img {
  border-radius: 5px;
}

.vote {
  grid-column: 1/2;
}

.marker-user {
  color: black;
}

.canvas-displayer-page {
  color: #0e1c36;
  height: 100%;
  width: calc(var(--vw, 1vw) * 100 - 20px);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.canvas-displayer {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userPic {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.userPic img {
  border-radius: 20px;
  border: 1px solid #0e1c36;
  height: 40px;
  width: 40px;
  margin: 5px 10px 0 0;
}

.dateLikes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.displayerLikes {
  padding-top: 10px;
}

.displayerLikes button {
  margin-left: 0;
}

canvas {
  border: 0.5px solid #7f8694;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background: url("./assets/graffiti_background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-tile {
  background-color: rgba(199, 236, 241, 0.7);
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  justify-content: center;
}

.login h1 {
  margin: 30px 0 10px 0;
  line-height: 1;
  font-family: "Permanent Marker", cursive;
  font-size: 100px;
  color: #0e1c36;
}

.login h1 .geo {
  font-family: "Lobster", cursive;
  font-size: 60px;
}

.login form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;
  font-size: x-large;
  color: #0e1c36;
}

.login form label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
}

.login form label input {
  width: 200px;
  margin: 0 auto;
  font-size: large;
  border: 1px solid black;
  border-radius: 25px;
  padding: 0.5em;
}

.login form button {
  border-radius: 25px;
  width: 150px;
  padding: 8px 0;
  margin: 30px auto;
  font-size: x-large;
  font-weight: 600;
  background-color: #f74909;
  color: #f3f4f9;
}

.login form button:hover {
  background-color: #ff7a4a;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.loginError {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
  line-height: 30px;
  vertical-align: middle;
  color: #0e1c36;
}

.loginError p {
  margin: 0 0 0 10px;
  max-width: 70vw;
  font-size: larger;
}

.signupError {
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 30px;
  vertical-align: middle;
  margin-top: 0;
  color: #0e1c36;
}

.signupError p {
  margin: 0 0 0 10px;
  max-width: 70vw;
  font-size: larger;
}

.login section {
  font-size: x-large;
  font-weight: 600;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 40px;
  color: #0e1c36;
}

.login section p {
  display: inline;
  padding-right: 10px;
}

.login section a {
  display: inline;
  border-radius: 25px;
  padding: 8px;
  margin: 30px auto;
  font-size: large;
  font-weight: 600;
  background-color: #0e1c36;
  color: #f3f4f9;
}

@media only screen and (max-width: 650px) {
  .login h1 {
    margin: 50px 0 10px 0;
    font-size: 70px;
  }

  .login h1 .geo {
    font-size: 55px;
  }

  .login section {
    font-size: larger;
    bottom: 20px;
  }

  .login section a {
    padding: 6px;
    margin: 20px auto;
  }
}

@media only screen and (max-width: 450px) {
  .login h1 {
    font-size: 45px;
  }

  .login h1 .geo {
    font-size: 35px;
  }

  .login section p {
    display: block;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 370px) {
  .login .login-tile h1 {
    margin-top: 15px;
  }

  .login .login-tile form input {
    margin-bottom: 0px;
    padding: 2px 0 2px 8px;
    font-size: medium;
  }

  .login .login-tile form label {
    margin-top: 5px;
    font-size: large;
  }

  .login .login-tile form button {
    margin-bottom: 0px;
    padding: 2px 0;
    font-size: medium;
  }

  .login section p {
    display: block;
    padding-right: 10px;
    margin: 0 0 5px 0;
  }

  .login section a {
    padding: 4px 10px;
    margin: 0;
  }

  .signupError {
    margin: 10px;
  }

  .signupError p {
    font-size: medium;
  }

  .loginError {
    margin: 10px;
  }

  .loginError p {
    font-size: medium;
  }
}

@media only screen and (max-height: 680px) {
  .login h1 {
    margin: 30px 0 10px 0;
  }

  .login form label input {
    padding: 0.25em 0.5em;
  }

  .loginError {
    font-size: large;
    margin-top: 30px;
  }

  .signupError {
    font-size: large;
  }

  .login form button {
    padding: 4px 0;
    margin: 15px auto;
    font-size: x-large;
    font-weight: 600;
    background-color: #f74909;
    color: #f3f4f9;
  }
}

@media only screen and (max-height: 500px) {
  .canvas-draw-page {
    margin: 5px 0;
    height: 100%;
  }

  .App-main {
    grid-template-rows: 50px 1fr 40px;
  }
}

.error-page img {
  width: 260px;
  height: 180px;
}

.not-logged-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  background: url("./assets/graffiti_background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.not-logged-in-tile {
  background-color: rgba(199, 236, 241, 0.7);
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  justify-content: center;
}
